.DS_store
_raw/sources/html/
_raw/sources/pdf/
_raw/sources/text/
_raw/sources/meta/
_raw/sources/sources/
_raw/sources/*.csv
_raw/sources/
_raw/_preproc
_code/_tax_processing
_code/_sources_extraction
_raw/price/*_temp.csv
wcpd_architecture.mmd