.DS_store
_raw/sources/html/
_raw/_sources/pdf/
_raw/_sources/text/
_raw/_sources/meta/
_raw/_sources/sources/
_raw/_sources/*.csv
_raw/_sources/
_raw/_preproc
_code/_preprocessing
_code/_sources_extraction
_raw/price/*_temp.csv
wcpd_architecture.mmd